.headerClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1em auto;
    min-width: 100vw;
    max-width: 100vw;
    background-color: #2C3E50;
    padding:10px;
    color:#FAFAFA;
}

.light {
    background-color: #BDBDBD;
    color:black;
}

.dateClass {
    display: block;
    opacity: 0.6;
}

.themeBtnContainer {
    display: block;
}
