.mainContent {
    background-color: #212121;
    color: #FAFAFA;
    min-height: 100vh;
    /* min-width: 100vw; */
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

.articleContent {
    margin: 0 auto;
    max-width: calc(100vw/2);
}

@media (max-width: 750px) {
    .articleContent{
        max-width: 90vw;
    }
}

.Light {
    background-color: #E0E0E0;
    color: #212121;
}

