.navButton {
    color: #FAFAFA;
    padding: 1.5em 1em;
    background-color: #01579B;
    width: 10em;
    font-weight:bold;
    opacity: 0.8;
}

.navButton:hover{
    opacity: 0.9;
}

.navButton:active {
    opacity: 1;
}

.textAligner {
    text-align: right;
}
