.navButton {
    color: #FAFAFA;
    padding: 1.5em 1em;
    background-color: #01579B;
    width: 10em;
    font-weight:bold;
    opacity: 0.8;
}

@media (max-width: 450px){
    .navButton{
        margin: 0.5rem 0 0.5rem 0;
    }
}

.Light {
    color: black;
    background-color: #BDBDBD;
}

.navButton:hover{
    opacity: 0.9;
}

.navButton:active {
    opacity: 1;
}

.textAligner {
    text-align: end;
}
