.sectionClass {
    min-width: 100%;
    margin: auto;
    padding: 10px;
}

.interactionContainer {
    margin: auto;
    width: calc(100vw/2);
}

@media (max-width: 750px){
    .interactionContainer{
        width: 90vw;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 450px){
    .buttonContainer{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
}

/*TODO: 
 * Deploy on Vercel
 * Add relevant meta tags in HTML
 * Make it more compliant with accessibility
 * Detect system theme and apply until changed
 * Make node-cli utility to create new posts with current date*/

