.sectionClass {
    min-width: 100%;
    margin: auto;
    padding: 10px;
}

.interactionContainer {
    margin: auto;
    width: calc(100vw/2);
}

@media (max-width: 750px){
    .interactionContainer{
        width: 90vw;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 450px){
    .buttonContainer{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
}

/*TODO: 
 * Make theme store in localstorage so it doesn't change on navigation
 * Add media query changes for mobile
 * Deploy on Vercel*/

